@import url('../../assets/globalStyles.scss');


.messages {
    // ===========WORK ON THE HEIGHT LETTER
    overflow-y: auto;
    max-height: 32rem;
}

.profile-photo {
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    overflow: hidden;

    img {
        width: 100%;
    }

}