@import url('../../assets/globalStyles.scss');

.side-bar {
    background: var(--dark-input-color);
    color: var(--text-color);
    position: relative;
    height: 100vh;


    .profile-photo {
        border-radius: 50%;
        width: 2.4rem;
        height: 2.4rem;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .btnbtn {
        display: flex;
        justify-content: space-around;

        .logout-btn {
            position: absolute;
            bottom: .6rem;
            border: none;
            background: var(--input-color);
            padding: .6rem 1rem;
            border-radius: .4rem;
            color: var(--text-color);
            transition: .5s;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%;


            span {
                font-size: 1.2rem;
                margin-top: .2rem;
                margin-right: .2rem;
            }

            &:hover {
                background: rgb(204, 7, 7);
            }

        }

        @media screen and (max-width: 700px) {

            .logout-btn {
                width: 38%;
left: 2rem;
            }
        }
    }
}