@import url('../../assets/globalStyles.scss');


.home {
    background: var(--input-color);

    .home-wrapper {
        overflow: hidden;
        height: 100vh;
        grid-template-columns: 33% auto;
        display: grid;
    }

    .mobile-display {
        display: none;
    }
}

