@import url('../../assets/globalStyles.scss');


.home {
    background: var(--input-color);

    .home-wrapper {
        overflow: hidden;
        height: 100vh;
        grid-template-columns: 33% auto;
        display: grid;
    }

    .mobile-display {
        display: none;
    }
}

@media (max-width:720px) {

    // .home {
    //     .home-wrapper {

    //         display: none;


    //     }

    //     .mobile-display {
    //         display: block;
    //         height: 100vh;
    //         .side-bar {
    //             height: 100%;
    //         }


    //     }
    // }
}