@import url('../../assets/globalStyles.scss');


.home {
    background: var(--bg-color);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .home-wrapper {
        overflow: hidden;
        width: 80%;
        height: 88%;
        border-radius: .5rem;
        display: grid;
        grid-template-columns: 33% auto;
    }


}