:root {
    --bg-color: hsl(0, 2%, 7%);
    --box-color: hsl(0, 2%, 12%);
    --text-color: rgb(203, 217, 218);
    --input-color: hsl(187, 100%, 18%);
    --dark-input-color: rgb(0, 45, 51);


    --btn-color: hsl(303, 88%, 34%);

    --small-font:.8rem;
    --normal-font: 1rem;
    --large-font: 1.5rem;


    --box-border-radius: 1rem;

}